<%- include('../partials/header') %>

<form id="new-form" action="/budgets" method="POST">
  <label>Name of Creator:</label>
  <input type="text" name="nameOfCreator">
  <label>Month:</label>
  <input type="text" name="month">
  <label>Year:</label>
  <input type="text" name="releaseYear">
  <input type="submit" value="Add Budget">
</form>

<%- include('../partials/footer') %>
